/* TYPHOGRAPHY & IMAGES */
* {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.head img {
  width: 170px;
  margin: 20px 50px;
  float: left;
}
.sticky {
  position: fixed;
  top: 0;
}
.head h3 {
  float: left;
  font-size: 15px;
  margin-top: 30px;
  font-weight: 600;
  padding: 0 10px;
  color: #608FDC;
}
.head h4 {
  float: right;
  font-size: 15px;
  margin-top: 30px;
  font-weight: 600;
  padding: 0 10px;
  color: #608FDC;
}
.head i {
  float: left;
  margin-top: 32px;
  color: #608FDC;
}
.head h3:hover, .head h4:hover {
  color: #D1DFF5;
}
.m-i-left h1 {
  font-size: 57px;
  font-weight: 800;
  color: white;
}
.m-i-left h3 {
  font-size: 20px;
  font-weight: 600;
  color: #A4B5E2;
  margin-top: 30px;
  line-height: 30px;
}
.m-i-right h1 {
  font-size: 26px;
  font-weight: 800;
  color: #031B4E;
}
.m-i-right h2 {
  font-size: 26px;
  font-weight: 800;
  color: #0069FF;
  text-align: center;
  margin-top: 30px;
}
.btn-account h3 {
  font-size: 16px;
  color: white;
  font-weight: 600;
}
.btn-google h3 {
  font-size: 16px;
  color: grey;
  font-weight: 600;
  float: right;
  margin-right: 75px;
}
.btn-google img {
  float: left;
  width: 25px;
  margin-top: -5px;
}
.main-ii h3 {
  font-size: 15px;
  color: rgb(168, 169, 179);
  font-weight: 600;
  text-align: center;
}
.main-ii h4 {
  font-size: 15px;
  color: #031C9C;
  font-weight: 600;
  text-align: center;
}
.main-ii i {
  margin-left: 10px;
  color: #031C9C;
  margin-top: 2px;
}
.log-s img {
  width: 120px;
  height: 70px;
  margin: 0 40px;
}
#splunk {
  height: 35px;
  width: 115px;
}
#gitlab {
  height: 90px;
  width: 130px;
}
.main-iii h3 {
  font-size: 35px;
  color: #031B4E;
  font-weight: 600;
  text-align: center;
}
.main-iii h4 {
  font-size: 20px;
  color: #4E5F83;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
.tab-b h3 {
  font-size: 15px;
  color: grey;
  font-weight: 600;
  margin: 35px 0;
  text-align: left;
}
.tab-b h3:hover {
  color: #031B4E;
}
.tab-b-dx img {
  width: 50px;
  height: 53px;
}
.tab-b-dx h3 {
  font-size: 20px;
  color: #031B4E;
  font-weight: 600;
  text-align: left;
}
.tab-b-dx h4 {
  font-size: 15px;
  color: #C0C6D3;
  font-weight: 400;
  text-align: left;
}
.main-iv h3, .main-v h3, .main-vii h3 {
  font-size: 35px;
  color: #031B4E;
  font-weight: 600;
  text-align: center;
}
.main-iv h4 {
  font-size: 20px;
  color: #4E5F83;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
.main-iv h5 {
  font-size: 15px;
  color: #4E5F83;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
.m-iv-img img {
  margin-top: 30px;
  width: 700px;
  height: 420px;
  border-radius: 7px;
}
.m-iv-img i {
  margin: 200px 30px;
  font-size: 30px;
  color: #031B4E;
}
.dot-s i {
  padding: 0 6px;
  color: blue;
  font-size: 10px;
}
.main-v h4 {
  font-size: 20px;
  color: #031B4E;
  font-weight: 800;
  text-align: left;
  margin-top: 20px;
}
.main-v h5 {
  font-size: 16px;
  color: #4E5F83;
  font-weight: 400;
  text-align: left;
  margin-top: 30px;
  line-height: 25px;
}
.main-v h6 {
  font-size: 15px;
  color: #3A91FD;
  font-weight: 600;
  text-align: left;
  margin-top: 30px;
}
.v-col img {
  width: 50px;
  height: 50px;
}
.main-vi h2 {
  font-size: 35px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 0px 200px;
}
.main-vi h3 {
  font-size: 18px;
  color: white;
  font-weight: 600;
}
.main-vi h4 {
  font-size: 14px;
  color: #92A3D9;
  font-weight: 400;
  margin-top: 4px;
}
.main-vi h5 {
  font-size: 14px;
  color: #00d7d2;
  font-weight: 400;
  margin-top: 4px;
}
.main-vi h5:hover {
  color: #1e5ecf;
}
.m-vii-img img {
  margin-top: 30px;
  width: 800px;
  height: 420px;
  border-radius: 7px;
  border: 1px solid lightgrey;
}
.m-vii-img i {
  margin: 200px 30px;
  font-size: 30px;
  color: #031B4E;
}
.main-viii h3 {
  font-size: 30px;
  color: white;
  font-weight: 800;
  text-align: center;
}
.main-viii h4 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #2485FD;
}
.foot-er h2 {
  font-size: 13px;
  font-weight: 600;
  color: white;
}
.foot-er h3 {
  font-size: 12px;
  font-weight: 600;
  color: rgb(72, 87, 108);
  margin-top: 20px;
}
.fot-col h3:hover {
  color: white;
}
.fot-sx h3 {
  width: 320px;
}
.fot-sx img {
  width: 60px;
  height: 60px;
}
.log-soc i {
  color: rgb(72, 87, 108);
  font-size: 25px;
  margin-right: 20px;
}
.log-soc i:hover {
  color: white;
}
/* DIV ---------------------------------------------------- */
.flex-cont {
  display: flex;
}
.head {
  width: 100%;
  height: 80px;
  background: white;
  padding-right: 60px;
  z-index: 9999;
}
.main-i {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to right, #003FBD, #258AD4);
  padding: 200px 45px 80px 45px;
  justify-content: space-between;
}
#fl-r {
  float: right;
}
.sig-n {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  float: right;
  margin-top: 20px;
  padding: 0 8px;
  border: 1px solid #023DB8;
}
.sig-n:hover {
  background: #0045C4;
  transition: all 0.3s ease 0s;
}
#signup-p {
  float: right;
  font-size: 15px;
  margin-top: 7px;
  font-weight: 600;
  color: #003DBB;
}
#signup-p:hover {
  color: white;
}
.m-i-left {
  width: 50%;
  height: 100%;
}
.m-i-right {
  width: 450px;
  height: 400px;
  background: white;
  border-radius: 5px;
  padding: 20px 20px;
}
.sear-ch {
  background: transparent;
  height: 65px;
  width: 100%;
  padding: 10px 10px;
}
.bg-light {
  background-color: transparent!important;
}
.form-inline {
  width: 100%!important;
}
.form-control {
  display: block;
  width: 100%!important;
  height: 45px;
  padding: 10px 35px;
  font-size: 15px;
  line-height: 5.5;
  color: grey;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eff2f5;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: relative;
}
.btn-account {
  width: 350px;
  height: 45px;
  border-radius: .25rem;
  background: #3b53f7;
  margin-top: 16px;
  margin-left: 27px;
  padding: 13px 85px;
}
.btn-account:hover {
  background: #1633FF;
  transition: all 0.3s ease 0s;
}
.btn-google {
  width: 350px;
  height: 45px;
  border-radius: .25rem;
  background: white;
  margin-top: 16px;
  margin-left: 27px;
  padding: 13px 20px;
  border: 0.5px solid lightgrey;
  box-shadow: 0px 1px lightgrey;
}
.btn-google:hover {
  background: lightgrey;
  transition: all 0.3s ease 0s;
}
.main-ii {
  width: 100%;
  height: 200px;
  background: #F3F5F9;
  padding-top: 20px;
}
.m-ii-text {
  justify-content: center;
  width: 100%;
}
.log-s {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.main-iii {
  width: 100%;
  height: 800px;
  padding: 50px 60px;
}
.tab-b {
  margin-top: 50px;
  justify-content: space-between;
  padding-left: 30px;
  margin-left: 100px;
  border-left: 2px solid lightgrey;
  height: 300px;
}
.tab-b-dx {
  padding-left: 100px;
}
.tab-b-dx div {
  padding: 20px;
}
.t-sx, .t-dx {
  width: 400px;
}
.main-iv {
  width: 100%;
  height: 900px;
  background: #F3F5F9;
  padding: 100px 200px;
}
.m-iv-img {
  width: 100%;
  justify-content: center;
}
.dot-s {
  justify-content: center;
  margin-top: 50px;
}
.main-v {
  width: 100%;
  height: 500px;
  padding: 70px 30px;
}
.v-col {
  width: 30%;
  margin: 35px 30px;
}
.main-vi {
  width: 100%;
  height: 600px;
  background: #0044C3;
  padding: 70px 0;
}
.vi-cont-tab {
  width: 100%;
  height: 70%;
  margin-top: 70px;
  padding: 0 50px;
}
.vi-sx, .vi-dx {
  width: 50%;
  height: 100%;
  padding: 0 15px;
}
.vi-row {
  margin-top: 15px;
  justify-content: space-between;
  border-bottom: 0.5px solid lightgrey;
}
.main-vii {
  width: 100%;
  height: 800px;
  background: #F3F5F9;
  padding: 100px 200px;
}
.m-vii-img {
  width: 100%;
  justify-content: center;
}
.main-viii {
  background: #023BB5;
  width: 100%;
  height: 200px;
  padding-top: 50px;
}
.viii-btn {
  background: white;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  padding-top: 15px;
}
.viii-btn:hover {
  background: lightgrey;
  transition: all 0.3s ease 0s;
}
.foot-er {
  background: #010E28;
  width: 100%;
  height: 450px;
  padding: 50px 50px;
}
.fot-sx {
  width: 40%;
  height: 90%;
}
.fot-col {
  width: 20%;
  height: 90%;
  padding: 10px 10px;
}
.log-soc {
  margin-top: 30px;
}
.burg {
  display: none;
}
/* MEDIA QUERY --------------------------------------- */
@media (max-width: 1200px) {
  .head h3, .head h4, #fl-r, .fa-angle-down, .sig-n {
    display: none;
  }
  .burg {
    display: inherit;
    float: right;
    font-size: 30px;
  }
  .burg i {
    margin-top: 25px;
  }
  .t-dx {
    display: none;
  }
  .log-s img {
    margin: 0 15px;;
  }
  .t-sx {
    width: 600px;
  }
}
@media (max-width: 1000px) {
  .main-i {
    display: block;
    height: auto;
  }
  .m-i-left {
    width: 100%;
  }
  .m-i-left >* {
    text-align: center;
  }
  .m-i-right {
    margin: auto;
    margin-top: 30px;
  }
}
@media (min-width: 1600px) {
  .t-sx, .t-dx {
    width: 50%;
  }
  .main-i {
    justify-content: space-around;
  }
}
@media (max-width: 800px) {
  .log-s img {
    margin: 0 5px;
    width: 15%;
  }
  .tab-b {
    margin-left: 40px;
  }
  .t-sx {
    width: 420px;
  }
  .main-v h5 {
    font-size: 12px;
  }
  .main-vi h2 {
    margin: 0 100px;
  }
  .m-iv-img img, .m-vii-img img {
    width: 600px;
    height: 350px;
  }
  .foot-er {
    display: block;
  }
  .fot-col {
    float: left;
    width: 25%;
    margin-top: 0;
    height: 30%;
  }
  .fot-sx {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fot-sx h3 {
    text-align: center;
  }
  .foot-er {
    height: 700px;
  }
  .main-iv, .main-vii {
    padding: 100px 80px;
  }
  .main-vi {
    height: 900px;
  }
  .vi-cont-tab {
    display: block;
  }
  .vi-sx, .vi-dx {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 450px) {
  .t-sx {
    width: 200px;
  }
  .m-iv-img img, .m-vii-img img {
    width: 300px;
    height: 175px;
  }
  .m-v-col {
    display: block;
  }
  .v-col {
    width: 100%;
  }
  .main-v {
    height: 900px;
  }
  .t-sx {
    display: none;
  }
  .m-i-right {
    width: 330px;
    height: 480px;
  }
  .btn-account, .btn-google {
    width: 236px;
  }
  .tab-b {
    margin-left: 95px;
  }
  .m-iv-img img, .m-vii-img img {
    margin-top: 115px;
  }
  .v-col {
    width: 90%;
  }
  .main-iv {
    height: 950px;
  }
  .main-v {
    height: 1000px;
  }
  .main-vi {
    height: 1100px;
  }
  .main-vi h4 {
    font-size: 10px;
  }
  .vi-sx, .vi-dx {
    width: 100%;
    height: 38%;
  }
  .m-i-right h1 {
    font-size: 28px;
    text-align: center;
  }
  .btn-account, .btn-google {
    padding: 10px 5px;
  }
  .head img {
    margin: 25px 30px;
  }
  .btn-account h3 {
    margin: 4px 29px;
  }
  .btn-google h3 {
    margin: -21px 26px;
  }
  .btn-google img {
    margin-top: -2px;
  }
  .main-ii {
    height: 650px;
  }
  .log-s {
    height: 550px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .log-s img {
    width: 25%;
    margin: 10px 0;
  }
}
